*{
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
}
.navbar{
    background: rgb(232, 21, 21);
    font-family: 'Bebas Neue', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-left: 24px;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color:white;
    font-size: 18px;
    margin-right: 15px;
}
.container{
    text-align: center;
    padding: 2rem;
}