*{
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
}
.navbar{
    background: rgb(232, 21, 21);
    font-family: 'Bebas Neue', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-left: 24px;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color:white;
    font-size: 18px;
    margin-right: 15px;
}
.Container{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}
.heading{
    font-size: 80px;
}
.card__container{
    display: grid;
    row-gap: 3.5rem;
}
.card__article{
    position: relative;
    overflow: hidden;
}
.card__img{
    height: 228px;
    width: 328px;
}
.card__data{
    width: 145px;
    padding: 1.5rem 2rem;
    background-color: white;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}
.card__description{
    display: block;
    margin-bottom: .25rem;
}
.card__title{
    font-weight: 500;
    color: black;
    margin-bottom: .75rem;
}
.card__button{
    text-decoration: none;
    font-weight: 500;
    color: red;
}
.card__button:hover{
    text-decoration: underline;
}
.card__article:hover .card__data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}
.card__article:hover{
    animation: remove-overflow 2s forwards;
}
.card__article:not(:hover){
    animation: show-overflow 2s forwards;
}
.card__article:not(:hover){
    animation: remove-data 1s forwards;
}

@keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
  
    .card__data {
      width: 250px;
      padding: 1rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 768px) {
    .card__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1120px) {
    .container {
      height: 100vh;
    }
  
    .card__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .card__img {
      width: 348px;
    }
    .card__data {
      width: 316px;
      padding-inline: 2.5rem;
    }
  }