<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/6day.css">
</head>

<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">YFS</a></div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/exercises">Exercises</a></li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/progresstrack">Progress track</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="heading">3 day Program</h1>
    <div class="container">
        <div class="header">
            <div class="calendar">
                <div class="weekdays">
                    <div class="day">Mon</div>
                    <div class="day">Tue</div>
                    <div class="day">Wed</div>
                    <div class="day">Thu</div>
                    <div class="day">Fri</div>
                    <div class="day">Sat</div>
                    <div class="day">Sun</div>
                </div>
                <div class="days">
                    <a class="day" href="/fullbody">Full Body</a>
                    <a class="day" href="/rest">Rest</a>
                    <a class="day" href="/fullbody">Full Body</a>
                    <a class="day" href="/rest">Rest</a>
                    <a class="day" href="/fullbody">Full Body</a>
                    <a class="day" href="/rest">Rest</a>
                    <a class="day" href="/rest">Rest</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>