<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercises</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/abdominals.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">YFS</a></div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/exercises">Exercises</a></li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/progresstrack">Progress track</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
    </nav>

    <br>
<div class="main">
    <div class="cards">
        <div class="image">
            <img src="images/cablecrunches.webp" alt="">
        </div>
        <div class="card-title">
            <h1>Cable Crunches</h1>
        </div>
        <div class="des">
            <p>Difficulty: Easy</p>
            <p>Focus: Upper-Abs</p>
            <button onclick="location.href='/cablecrunches'">read more</button>
        </div>
    </div>
    <div class="cards">
        <div class="image">
            <img src="images/abcrunchmachine.jpg" alt="">
        </div>
        <div class="card-title">
            <h1>Ab Crunch Machine</h1>
        </div>
        <div class="des">
            <p>Difficulty: Easy</p>
            <p>Focus: Core</p>
            <button onclick="location.href='/abcrunchmachine'">read more</button>
        </div>
    </div>
    <div class="cards">
        <div class="image">
            <img src="images/hanginglegraises.jpeg" alt="">
        </div>
        <div class="card-title">
            <h1>Hanging Leg Raises</h1>
        </div>
        <div class="des">
            <p>Difficulty: Medium</p>
            <p>Focus: Lower-Abs</p>
            <button onclick="location.href='/hanginglegraises'">read more</button>
        </div>
    </div>
    <div class="cards">
        <div class="image">
            <img src="images/inclinecrunches.jpeg" alt="">
        </div>
        <div class="card-title">
            <h1>Decline Crunches</h1>
        </div>
        <div class="des">
            <p>Difficulty: Medium</p>
            <p>Focus: Lower-Abs</p>
            <button onclick="location.href='/declinecrunches'">read more</button>
        </div>
    </div>
    <div class="cards">
        <div class="image">
            <img src="images/toetobar.jpg" alt="">
        </div>
        <div class="card-title">
            <h1>Leg raises toe to bar</h1>
        </div>
        <div class="des">
            <p>Difficulty: Hard</p>
            <p>Focus: Whole abdominal region</p>
            <button onclick="location.href='/toetobar'">read more</button>
        </div>
    </div>
    
</body>
</html>