<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">YFS</a></div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/exercises">Exercises</a></li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/progresstrack">Progress track</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>About us</h1>

        <p>At YFS, our journey began with a shared passion for a healthier, happier world. Inspired by personal struggles and triumphs, our team came together to create a fitness app that goes beyond the ordinary. We believe that fitness is not just a destination; it's a lifelong journey.</p>

        <p>Our mission is simple: to transform lives through fitness. We aim to break down barriers, providing a user-friendly app that caters to all fitness levels. Whether you're a beginner or a seasoned athlete, [Your Fitness App] is designed to support you every step of the way.</p>

        <p>At the core of YFS is a commitment to innovation. We blend cutting-edge technology with evidence-based fitness principles, offering an array of features such as personalized workout plans, nutrition tracking, and a supportive community.</p>

        <p>Behind YFS is a dedicated team of fitness experts, certified trainers, and tech enthusiasts. We bring a wealth of knowledge and experience to ensure that our users receive the best guidance on their fitness journey.</p>

        <p>Join our thriving community where fitness enthusiasts come together to share stories, support each other, and celebrate victories. At YFS, we believe that community is the cornerstone of success.</p>

        <p>As we grow, so does our commitment to your well-being. We're constantly refining and expanding our features to stay ahead of the curve. Our vision is to be your lifelong fitness companion, adapting to your evolving needs and goals.</p>

        <p>Have questions or feedback? We'd love to hear from you! Reach out to us at [Contact Email] or connect with us on [Social Media Links].</p>
    </div>
</body>
</html>