<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/cablecrunches.css">
</head>

<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">YFS</a></div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/exercises">Exercises</a></li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/progresstrack">Progress track</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="image">
        <img src="images/inclinecrunches.jpeg" alt="" width="500px">
    </div>
    <p>Decline crunches are a simple variation that only requires a decline bench or a little creativity and most people with decent core strength can effectively include it in their workout regime.</p>
    <p>With the decline bench, get into position and secure your legs. Place your hands on either side of your head, keeping your elbows in. Push the small of your back down into the decline bench and start to roll your shoulders off it.</p>

    <p>Bend your elbows so that you can push down forcefully with your lower back while you contract your abdominals. Exhale as you do so. Your shoulders should only lift off the bench for approximately 4 inches.</p>

    <p>Keep your lower back on the bench. Hold the contraction for a second. Then, start to come down slowly to the starting point. Inhale as you do so. Repeat for the desired number of reps.</p>
    <br>
    <div class="image2">
        <img src="images/howtododeclinecrunches.jpeg" alt="" width="500px">
    </div>
</body>