<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercises</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/exercises.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">YFS</a></div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/exercises">Exercises</a></li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/progresstrack">Progress track</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
    </nav>

    <h1 class="heading">Exercises</h1>
    <div class="Container">
        <div class="card__container">
            <article class="card__article">
                <img src="/images/gym.jpg" alt="image" class="card__img">

                <div class="card__data">
                    <h2 class="card__title">Gym</h2>
                    <a href="/gym" class="card__button">Click Here</a>
                </div>
            </article>
            <article class="card__article">
                <img src="/images/Calisthenics.webp" alt="image" class="card__img">

                <div class="card__data">
                    <h2 class="card__title">Calisthenics</h2>
                    <a href="/calisthenics" class="card__button">Click Here</a>
                </div>
            </article>
            <article class="card__article">
                <img src="/images/cardio.webp" alt="image" class="card__img">

                <div class="card__data">
                    <h2 class="card__title">Cardio</h2>
                    <a href="/cardio" class="card__button">Click Here</a>
                </div>
            </article>
        </div>
    </div>

</body>
</html>