<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/push.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">YFS</a></div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/exercises">Exercises</a></li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/progresstrack">Progress track</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="title">Leg Day</h1>
    <div class="details">
        <p>You probably already guessed this one. Leg day is/are the day(s) of the week when people exercise their legs. It's a term used by weightlifters, bodybuilders, and other athletes to denote their lower-body programming. For many people, leg day is the hardest and most grueling workout of the week.</p>
        <h1>Benefits of Leg Day</h1>
        <p>For there are numerous benefits to be had, from increasing your capabilities to build muscle to maximising your weight loss potential. Not only that, but an effective leg day routine will also help build strength, improve other areas of your workout and reduce the risk of injury.</p>
        <h1>Muscles you work on leg day: </h1>
        <p>Legs</p>
        <h1>Workout-plan: </h1>
        <h3>Warm-up: </h3>
        <p>2-3 min walk on treadmill</p>
        <p>Arm circles 2x20 circles in each direction</p>
        <p>Scapular Slides 2x15reps</p>
        <h3>Set-1: </h3>
        <p>Back Squats 10-12 reps</p>
        <p>Hack Squats 10-12 reps</p>
        <p>Calf Raises 10-12 reps</p>
        <p>Bulgarian split squats 10-12 reps</p>
        <h3>Abs: </h3>
        <p>Cable Crunches 10-12 reps</p>
        <p>Hanging Leg Raises 10-12 reps</p>
        <p>Decline Crunches 10-12 reps</p>
        <p>Single Leg Crunches 10-12 reps</p>
        <p>Lying Oblique Crunches 10-12 reps</p>
        <h3>Cardio: </h3>
        <p>Running 5-7 minutes</p>
        <p>Burpees 1 minute</p>
    </div>
    <br>
    <div class="note">
        <p>Note: This is program is only for a day. Don't do this program regularly. You will have to change the exercises regularly so that there can be some muscle growth.</p>
        <p>Also if you are a beginner then you can do set 1, set 2, set 3 and abs set for 1-2 times, otherwise you can do them for 3-5 sets. If you feel exhausted or feel sick then you can just do 1-2 sets.</p>
    </div>
</body>
</html>