<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/push.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">YFS</a></div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/exercises">Exercises</a></li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/progresstrack">Progress track</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="title">Lower Body Workout</h1>
    <div class="details">
        <p>Leg workouts are an important aspect of a balanced, whole-body fitness routine that builds strength, speed, and stability.</p>
        <h1>Benefits of Lower Body Workout</h1>
        <p>It’s important to stay consistent with your leg workouts since these large muscles are an integral part of your overall fitness. Plus, it’s easier for your body to adapt to the workouts and develop good habits that will help you to meet your fitness goals.</p>
        <h1>Muscles you work on Lower Body Workout: </h1>
        <p>Legs</p>
        <p>Calves</p>
        <p>Hamstring</p>
        <p>Butt</p>
        <h1>Workout-plan: </h1>
        <h3>Warm-up: </h3>
        <p>2-3 min walk on treadmill</p>
        <p>Arm circles 2x20 circles in each direction</p>
        <p>Scapular Slides 2x15reps</p>
        <h3>Set-1: </h3>
        <p>Back Squats 10-12 reps</p>
        <p>Hack Squats 10-12 reps</p>
        <p>Calf Raises 10-12 reps</p>
        <p>Bulgarian split squats 10-12 reps</p>
        
        <h3>Cool Down: </h3>
        <p>Stretch for chest, shoulder, triceps and upper back.</p>
        <h3>Cardio: </h3>
        <p>Running 5-7 minutes</p>
        <p>Burpees 1 minute</p>
    </div>
    <br>
    <div class="note">
        <p>Note: This is program is only for a day. Don't do this program regularly. You will have to change the exercises regularly so that there can be some muscle growth.</p>
        <p>Also if you are a beginner then you can do set 1, set 2, set 3 and abs set for 1-2 times, otherwise you can do them for 3-5 sets. If you feel exhausted or feel sick then you can just do 1-2 sets.</p>
        <p>Use an appropriate weight that challenges you but allows for proper form.</p>
        <p>Rest 1-2 minutes between sets.</p>
        <p>Adjust the intensity based on your fitness level, and consult with a fitness professional or healthcare provider if you have any concerns or health issues.</p>
    </div>
</body>
</html>