<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/push.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">YFS</a></div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/exercises">Exercises</a></li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/progresstrack">Progress track</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="title">Pull Day</h1>
    <div class="details">
        <p>Pull Day in strength training refers to a specific workout day that focuses on exercises that involve pulling movements. These movements primarily target the muscles responsible for pulling actions, such as the back, biceps, and posterior chain.</p>
        <h1>Benefits of Pull Day</h1>
        <p>Pull day works to target your biceps, forearms, and, most importantly, the complex network of muscles in your back.</p>
        <h1>Muscles you work on pull day: </h1>
        <p>Back</p>
        <p>Biceps</p>
        <h1>Workout-plan: </h1>
        <h3>Warm-up: </h3>
        <p>2-3 min walk on treadmill</p>
        <p>Arm circles 2x20 circles in each direction</p>
        <p>Scapular Slides 2x15reps</p>
        <h3>Set-1: </h3>
        <p>Reverse Grip Lat Pulldown 10-12 reps</p>
        <p>Barbell Row 10-12 reps</p>
        <p>Seated Cable Row 10-12 reps</p>
        <p>Dumbell Row 10-12 reps</p>
        <p>T Bar Row 10-12 reps</p>
        <p>Deadlift 10-12 reps</p>
        <h3>Set-2: </h3>
        <p>Biceps Curl 10-12 reps</p>
        <p>Hammer Curl 10-12 reps</p>
        <p>Wide Grip Curl 10-12 reps</p>
        <p>Inclined Biceps Curl 10-12 reps</p>
        <p>Upright row 10-12 reps</p>
        <h3>Abs: </h3>
        <p>Cable Crunches 10-12 reps</p>
        <p>Hanging Leg Raises 10-12 reps</p>
        <p>Decline Crunches 10-12 reps</p>
        <p>Single Leg Crunches 10-12 reps</p>
        <p>Lying Oblique Crunches 10-12 reps</p>
        <h3>Cardio: </h3>
        <p>Running 5-7 minutes</p>
        <p>Burpees 1 minute</p>
    </div>
    <br>
    <div class="note">
        <p>Note: This is program is only for a day. Don't do this program regularly. You will have to change the exercises regularly so that there can be some muscle growth.</p>
        <p>Also if you are a beginner then you can do set 1, set 2, set 3 and abs set for 1-2 times, otherwise you can do them for 3-5 sets. If you feel exhausted or feel sick then you can just do 1-2 sets.</p>
    </div>
</body>
</html>