<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/push.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">YFS</a></div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/exercises">Exercises</a></li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/progresstrack">Progress track</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="title">Push Day</h1>
    <div class="details">
        <p>A "push day" typically refers to a workout routine or training session focused on exercises that involve pushing movements. This type of workout primarily targets the muscles involved in pushing motions, particularly those of the upper body. Push day is often part of a split training program where different muscle groups are trained on separate days to allow for adequate recovery.</p>
        <h1>Benefits of Push Day</h1>
        <p>Pushing is a cornerstone of functional fitness. To simply get off the ground, you must be able to push up your body weight. “Performing a broad range of push exercises helps maintain a strong and healthy body," says LADDER Fitness Expert Amanda Lopez. “Not just for your muscles, but your bones and joints as well."</p>
        <h1>Muscles you work on push day: </h1>
        <p>Chest</p>
        <p>Triceps</p>
        <p>Shoulders</p>
        <h1>Workout-plan: </h1>
        <h3>Warm-up: </h3>
        <p>2-3 min walk on treadmill</p>
        <p>Arm circles 2x20 circles in each direction</p>
        <p>Scapular Slides 2x15reps</p>
        <h3>Set-1: </h3>
        <p>Bench press 10-12 reps</p>
        <p>Incline Bench press 10-12 reps</p>
        <p>Decline Bench press 10-12 reps</p>
        <h3>Set-2: </h3>
        <p>Shoulder Dumbell press 10-12 reps</p>
        <p>Shoulder Barbell press 10-12 reps</p>
        <p>Arnold press 10-12 reps</p>
        <p>Front Raises 10-12 reps</p>
        <p>Upright row 10-12 reps</p>
        <p>Bent over reverse fly 10-12</p>
        <h3>Set-3: </h3>
        <p>Overhead Extension 10-12 reps</p>
        <p>Rope Extension 10-12 reps</p>
        <p>Skull-crusher 10-12 reps</p>
        <p>Triceps-Kickback 10-12 reps</p>
        <h3>Abs: </h3>
        <p>Cable Crunches 10-12 reps</p>
        <p>Hanging Leg Raises 10-12 reps</p>
        <p>Decline Crunches 10-12 reps</p>
        <p>Single Leg Crunches 10-12 reps</p>
        <p>Lying Oblique Crunches 10-12 reps</p>
        <h3>Cardio: </h3>
        <p>Running 5-7 minutes</p>
        <p>Burpees 1 minute</p>
    </div>
    <br>
    <div class="note">
        <p>Note: This is program is only for a day. Don't do this program regularly. You will have to change the exercises regularly so that there can be some muscle growth.</p>
        <p>Also if you are a beginner then you can do set 1, set 2, set 3 and abs set for 1-2 times, otherwise you can do them for 3-5 sets. If you feel exhausted or feel sick then you can just do 1-2 sets.</p>
    </div>
</body>
</html>