<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/push.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">YFS</a></div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/exercises">Exercises</a></li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/progresstrack">Progress track</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="title">Rest Day</h1>
    <div class="details">
        <p>Now I know lifting all the weight or lifting your bodyweight make your muscles feel good. But sometimes you have to make sure your body get enough rest so that your muscle gets healed and you can then work again on your muscles then, or else you will have a chance of getting injury or you may even feel fatigue too. So rest today, tommorrow you get the work done.</p>
    </div>
</body>
</html>