<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/push.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">YFS</a></div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/exercises">Exercises</a></li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/progresstrack">Progress track</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="title">Upper Body Workout</h1>
    <div class="details">
        <p>The upper body refers to your arms, forearms, shoulders, chest and hands. These muscles create a bridge from the chest, limbs and torso to your spinal column. Strengthening can help improve posture, athletic performance, confidence with everyday tasks and decreases age-related atrophy.</p>
        <h1>Benefits of Upper Body Workout</h1>
        <p>Muscle imbalances can emerge in many people who have sedentary desk jobs. The chest muscles become tight, the back is loose and the shoulders begin to roll forward, causing you to hunch. Strengthening the back and shoulder muscles can make it easier to correct this posterior imbalance and contributes to greater core strength.</p>
        <p>Beyond the effects of an office job, workouts focused on the upper body benefit runners and cyclists, as they tend to lean forward and develop resulting posture issues.</p>
        <h1>Muscles you work on Upper Body Workout: </h1>
        <p>Chest</p>
        <p>Shoulder</p>
        <p>Biceps</p>
        <p>Forearms</p>
        <p>Abs</p>
        <p>Back</p>
        <h1>Workout-plan: </h1>
        <h3>Warm-up: </h3>
        <p>2-3 min walk on treadmill</p>
        <p>Arm circles 2x20 circles in each direction</p>
        <p>Scapular Slides 2x15reps</p>
        <h3>Set-1: </h3>
        <p>Bench Press 10-12 reps</p>
        <p>Incline Dumbell Fly 10-12 reps</p>
        <p>Deadlift 10-12 reps</p>
        <p>Chest Supported Rows 10-12 reps</p>
        <p>Shoulder Press 10-12 reps</p>
        <p>Lateral Raises 10-12 reps</p>
        <p>Overhead Triceps Extension 10-12 reps</p>
        <p>Incline Biceeps Curl 10-12 reps</p>
        
        <h3>Cool Down: </h3>
        <p>Stretch for chest, shoulder, triceps and upper back.</p>
        <h3>Cardio: </h3>
        <p>Running 5-7 minutes</p>
        <p>Burpees 1 minute</p>
    </div>
    <br>
    <div class="note">
        <p>Note: This is program is only for a day. Don't do this program regularly. You will have to change the exercises regularly so that there can be some muscle growth.</p>
        <p>Also if you are a beginner then you can do set 1, set 2, set 3 and abs set for 1-2 times, otherwise you can do them for 3-5 sets. If you feel exhausted or feel sick then you can just do 1-2 sets.</p>
        <p>Use an appropriate weight that challenges you but allows for proper form.</p>
        <p>Rest 1-2 minutes between sets.</p>
        <p>Adjust the intensity based on your fitness level, and consult with a fitness professional or healthcare provider if you have any concerns or health issues.</p>
    </div>
</body>
</html>